#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.site-title {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}

#header ul {
    display: flex;
    padding: 10px 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#header li {
    margin-left: 30px;
}

li {
    list-style: none;
}